header.header-wrapper
	.header-wrap.wrapper
		.logo
			a(href="/main") LOGO
		ul.navi-wrapper
			li.navi
				a(href="/city") CITY LIST
			li.navi
				a(href="/city/create") CITY WRITE
			li.navi | 
			li.navi
				a(href="/about") ABOUT
			li.navi
				a(href="/pf") PORTFOLIO
			li.navi
				a(href="/contact") CONTACT
			li.navi
				a(href="/info") INFO